<div class="close" (click)="onClickClose()">
    <fa-icon class="close-icon" [icon]="faTimesCircle"></fa-icon>
</div>
  <p class="modal-title">{{data.modalTitle}}</p>
<hr class="break-line"/>
<br />
<div class="axis-selection">
    <div class="menu">
        <ng-container *ngFor="let key of data.options">
            <button color="accent" (click)="onHorizontalAxisSelect(key)"
                [ngClass]="{ 'selected': key ===  data.selected}">{{key}}
                <fa-icon *ngIf="key ===  data.selected" [icon]="faCheck"></fa-icon>
            </button>
        </ng-container>
    </div>
</div>