.overviewcont {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-column-gap: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


app-overview {
  width: 33%;
}
// @media screen and (max-width: 1300px) {
//   .overviewcont {
//     grid-template-columns: 1fr 1fr;
//     grid-column-gap: 70px;
//   }
// }

@media screen and (max-width: 800px) {
  app-overview {
    width: 50%;
  }

}

@media screen and (max-width: 550px) {
  app-overview {
    width: 90%;
  }
  .overviewcont {
    justify-content: center;
  }
}

.usergraphs {
  display: flex;
  justify-content: space-between;
}
.select-metric {
  padding: 2em 3em;
  border-radius: 10px;
  width: 200px;
  margin: 2em;
  height: 109px;
  background-color: rgb(47, 255, 99);
}

.select-btn{
  padding: 10px;
  font-size: 1em;
  outline: none;
  margin-top: 10px!important;
  border-radius:20px;
  border: none;
  color:#fff;
  margin: 0 1em;
}

.header-component {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}


hr.break-line {
  // border-top: 1.3px solid #8C7FEE;
  border-top: 1.3px solid lightslategrey;
}

.contentarea {
  height: 80vh;
}