.overviewcont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // display: flex;
  // justify-content: space-evenly;
  // width: 100%;
}
.usergraphs {
  display: flex;
  justify-content: space-between;
}
.select-metric {
  padding: 2em 3em;
  border-radius: 10px;
  width: 200px;
  margin: 2em;
  height: 109px;
  background-color: rgb(47, 255, 99);
}

.select-btn{
  padding: 10px;
  font-size: 1em;
  outline: none;
  margin-top: 10px!important;
  border-radius:20px;
  border: none;
  color:#fff;
  margin: 0 1em;
}

.header-component {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.filter-component {
  display: flex;
  justify-content: space-between;
}

.noresult {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: lightslategrey;
  padding: 5px;
}

.clear-all {
  height: max-content;
  background-color: #8C7FEE;
  color: white;
  font-size: inherit;
  border: none;
  padding: 1em;
  border-radius: 50px;
  margin-left: 5em;
}

.input-dropdown {
  margin-left: 20px;
}

hr.break-line {
  // border-top: 1.3px solid #8C7FEE;
  border-top: 1.3px solid lightslategrey;
}