.programtitle{
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 0.3em;
  margin-top: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and ( max-width: 1100px){
  .programtitle{
    font-size: 2.5em;
  }
 }

 @media screen and ( max-width: 950px){
  .programtitle{
    font-size: 2.2em;
  }
 }
body {
  background: #fff;
}
.axis-selection {
  // padding: 1em;
  width: 420px;
  margin: 1%;
  background: #fff;
  display: inline-flex;
}

.axis-heading {
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
}
.menu {
  text-align: center;
  // margin-left: 14%;
  width: 100%;
}

.selected {
  display: block;
  text-align: center;
  padding: 0.8em;
  margin: 0.8em 0;
  width: 280px;
  font-weight: bold;
  font-size: medium;
  background-color: lightseagreen !important;
  border: none;
  color: #fff;
}
.show-report {
  margin-top: 10px;
  width: 300px;
  height: 50px;
  background-color: rgba(68, 60, 60, 0.836);
  color: white;
  font-weight: bold;
  font-size: medium;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
}

// .charts-container {
//   width: 100%;
// }
// .clear-all {
//   margin-top: 10px;
//   height: max-content;
//   background-color:#8C7FEE;
//   color: white;
//   font-weight: bold;
//   font-size: medium;
//   border: none;
//   padding: 1em;
//   max-width: max-content;
//   border-radius: 50px;
//   margin-left: 5em;
// }

.clear-all {
  height: max-content;
  background-color: #8C7FEE;
  color: white;
  font-size: inherit;
  border: none;
  padding: 1em;
  border-radius: 50px;
  margin-left: 5em;
}

li {
  list-style: none;
}
.containercenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
// .dimensionsselection {
//   display: flex;
//   justify-content: center;
// }
.selectAxis {
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0;
  flex-wrap: wrap;
}
.noresult {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: lightslategrey;
  padding: 5px;
}


.input-dropdown {
  margin-left: 20px;
}

hr.break-line {
  // border-top: 1.3px solid #8C7FEE;
  border-top: 1.3px solid lightslategrey;
}

.header-component {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.axismodalicon{
  margin-top: 1.3em;
  padding: 0 0.8em;
  /* font-size: large; */
  font-size: x-large;
  color: #8d8d8d;
}

// .mat-icon-button {
//   border-radius: 0%
// }

.selected-axis {
  display: flex;
  justify-content: flex-end;
}