.overview {
  padding: 2em 3em;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  width: 270px;
  margin: 1.5em 5em;
  height: 140px;
  cursor: pointer !important;
  .ovrno {
    font-size: 3.25em;
    font-weight: bold;
    padding: 0.3em 0;
  }
  .overtitle {
    font-size: 1.25em !important;
    font-weight: 500;
    padding: 0.3em 0;
  }
}

app-overview {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
